.p-chat {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.msgs {
	flex: 1;
	overflow: auto;
	border: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
	padding: 1em;
}

.p-chat :global {
	.am-input-extra {
		max-height: initial !important;
	}
}
